<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Create Memo</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<input type="date" name="datememo" id="datememo"><br>
<input type="text" name="textmemo" id="textmemo"><br>
<input type="submit" name="sendmemo" id="sendmemo">

<script>

  $("#sendmemo").click( function() {

    var textData = $("#textmemo").val();
    var dateData = $("#datememo").val();

    console.log("Submission: { \"date\": " + dateData + ", \"text\": " + textData + " }");

    $.ajax({
      type: 'POST',
      contentType: "application/json",
      dataType: 'json',
      url: '/_receive',
      data: JSON.stringify({"date": dateData, "text": textData}),
      success: function(data) {
        window.location.replace(data.url);
      }
    });

  });



</script>

</div> <!-- container -->
</body>
</html>
