<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />

</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 style="margin-bottom:20px">Memos</h1>

{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row" style="border:1px solid grey; margin:10px; padding:5px">
    <div class="col-sm">
      <b>{{ memo.date | humanize }}</b>
    </div>
    <div class="col-sm">
      {{ memo.text }}
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-sm">
      <!-- hidden value to hold id of db entry to delete -->
      <input type="hidden" value="{{ memo.id }}" name="dbid"></input>
      <input type="submit" value="Delete" name="dbdel" style="margin-left:30px; margin-bottom:15px"></input>
    </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>
{% endif %}

  <div class="row">
    <input type="submit" id="create" value="Create new memo" style="margin-left:15px; margin-top:30px; margin-bottom:15px;"></input>
  </div>


</div> <!-- container -->

<script>

  // Delete functionality with ajax
  $("input[name='dbdel']").click( function() {

    var memo_entry = $(this).parents(".memo");
    var target = memo_entry.find("input[name='dbid']");

    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      url: '/_delete',
      data: JSON.stringify({'dbid': target.val()}),
      success: function(data) {
        if (data) {
          // https://stackoverflow.com/questions/5404839/how-can-i-refresh-a-page-with-jquery
          window.location.reload();
        }
      }
    });
  });

  $("#create").click( function() {
    window.location.replace("/create");
  });

</script>

</body>
</html>
